:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #40a0b1, #479751);
    font-family: "open sans";
}


/* HEADER        TODO: ask to chatgpt do colors are beutiful */

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: #1d373b;
}


/* MAIN */

.main-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}



main input {
    padding-left: 15px;
    width: 550px;
    height: 37px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: rgb(46, 50, 59);
    color: rgb(198, 198, 198);
}

#btn-submit {
    width: 75px;
    padding-right: 10px;
    border: none;
    border-radius: 0 25px 25px 0;
    transition: all .15s ease;
}

#btn-submit:active {
    background-color: rgb(161, 161, 161);
}

.main-body {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: rgb(198, 198, 198);
}

#nav {
    list-style-type: none;
    width: 55%;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(to left, #23555e, #44894e);
    margin-bottom: 30px;
}

.delete-btn {
    height: 30px;
    border-radius: 10px;
    width: 75px;
    height: 35px;
    background-color: #1d373b;
    border: none;
    color: rgb(198, 198, 198);
}